@model dynamic

@{
    ViewBag.Title = "Error 404 - Page Not Found";
    Layout = "~/Views/Shared/Error.cshtml";
}
<i class="icon-403"></i>
<h1>403</h1>
<h2>Forbidden</h2>
<p class="page-403">You don`t have permission. <a href="/Login/Login">Return Home</a></p>