@model dynamic

@{
    ViewBag.Title = "Error 404 - Page Not Found";
    Layout = "~/Views/Shared/Error.cshtml";
}
          <i class="icon-404"></i>
          <h1>404</h1>
          <h2>page not found</h2>
<p class="page-404">Something went wrong or that page doesn’t exist yet. <a href="/login/login/">Return Home</a></p>
@*@if (Model != null && HttpContext.Current.IsDebuggingEnabled)
{
    <div>
        <p>
            <b>Exception:</b> @Model.Exception.Message<br />
            <b>Controller:</b> @Model.ControllerName<br />
            <b>Action:</b> @Model.ActionName
        </p>
        <div style="overflow:scroll">
            <pre>
                    @Model.Exception.StackTrace
                </pre>
        </div>
    </div>
}*@