@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@{
    int c = 0;
    var perList = ViewBag.perList;
    var SurveyList = ViewBag.SurveyList;
    var CompanyList=ViewBag.CompanyList;
    var SolvedSurveyAnswerList = ViewBag.SolvedSurveyAnswerList;
    var perSurveyList=ViewBag.perSurveyList;
    var SurveyRatio=ViewBag.SurveyRatio;
    var total = SurveyRatio +perSurveyList;
    int perCount = 0;
}
<div style="display: flex;justify-content: space-between;">
<h2>DASHBOARD</h2>
<div style='width: 150px; border-radius: 5px; background: url("../../../../flatlab-master/img/android-chrome-192x192.png") round;background-origin: content-box;'></div>
    </div>

<br/>
   <!--state overview start-->
<div class="row state-overview">
    <div class="col-lg-3 col-sm-6">
        <section class="panel">
            <div class="symbol terques">
                <i class="fa fa-user"></i>
            </div>
            <div class="value">
                <h1 class="count_1">@perList</h1>
                <p>Users</p>
            </div>
        </section>
    </div>
    <div class="col-lg-3 col-sm-6">
        <section class="panel">
            <div class="symbol red">
                <i class="fa fa-compass"></i>
            </div>
            <div class="value">
                <h1 class="count_2">@CompanyList</h1>
                <p>Companies</p>
            </div>
        </section>
    </div>
    <div class="col-lg-3 col-sm-6">
        <section class="panel">
            <div class="symbol yellow">
                <i class="fa fa-superscript"></i>
            </div>
            <div class="value">
                <h1 class="count_3">@SurveyList</h1>
                <p>Surveys</p>
            </div>
        </section>
    </div>
    <div class="col-lg-3 col-sm-6">
        <section class="panel">
            <div class="symbol blue">
                <i class="fa fa-bar-chart-o"></i>
            </div>
            <div class="value">
                <h1 class=" count_4">@SolvedSurveyAnswerList</h1>
                <p>Solved Survey Questions</p>
            </div>
        </section>
    </div>
</div>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Survey', 'per personel'],
            ['Unsolved Survey',  @perSurveyList],
            ['Solved Survey', @SurveyRatio],
            ['Total Assigned Survey', @total],
        ]);

        var options = {
          title: 'Survey Management'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>
    <div id="piechart" style="width: 99%; height: 500px;"></div>

           